node_modules
dist
build
.env
.git
.gitignore
Dockerfile
*.log
*.tsbuildinfo
coverage
.vscode
.idea
npm-debug.log
yarn-error.log
__pycache__
*.pyc
*.pyo
*.db
*.sqlite
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
.npmrc