body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre {
  white-space: pre-wrap;
}

a {
  color: lightblue;
}

a:hover {
  color: #7d86ff;
}

input {
  border: 0;
  outline: none;
  flex-grow: 1;
  border-radius: 15px;
  font-family: "Overpass Mono";
}

a:active {
  color: lightblue;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Home_currentMember__wDVfO {
  .Home_text__3B15I {
    text-align: left !important;
    padding-left: 16px !important;
  }
}

::placeholder {
  color: grey;
  font-weight: bold;
  opacity: 1;
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: grey;
  font-weight: bold;
}
